img {
  max-width: 100%;
}

body, ul {
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

h1, h2, h3, label {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
}

.btn-primary {
  border: solid 1px black;
  background-color: #FFF;
  color: #0C0910;
  font-weight: 700;
  padding: 16px;
}
.btn-primary:hover {
  border: solid 1px #A6A5AB;
}
.btn-primary:focus {
  color: #A6A5AB;
  border: solid 1px #A6A5AB;
}

.main-header {
  grid-area: nav;
}

.navigation {
  position: relative;
}
.navigation__logo {
  position: absolute;
  top: 0;
  left: 0;
}
.navigation__collapsible {
  text-align: right;
}
.navigation__collapsible label {
  font-size: 28.8px;
}
.navigation__collapsible label i {
  padding: 35.2px;
}
.navigation #menu {
  display: none;
}
.navigation input:checked ~ .navigation__container {
  max-height: 100%;
}
.navigation__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
}
.navigation__item {
  display: block;
  text-align: center;
  margin: 0 16px;
  padding: 16px 8px;
  border-bottom: solid 1px #646266;
}
.navigation__list {
  display: block;
  text-align: center;
}
.navigation__list .navigation__item:last-child {
  border-bottom: none;
}
.navigation__link {
  color: #0C0910;
  font-size: 14px, 16em;
  font-weight: 700;
  padding: 8px 16px;
}
.navigation__link:hover {
  color: #A6A5AB;
}

@media only screen and (min-width: 769px) {
  .navigation__logo {
    transform: rotate(270deg);
    position: absolute;
    top: 0;
    left: 0;
  }
  .navigation__collapsible label {
    display: none;
  }
  .navigation__container {
    max-height: 100%;
    padding: 32px;
    overflow: visible;
  }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    pad: inherit;
    margin: inherit;
  }
  .navigation__item {
    display: inline-block;
    text-align: center;
    margin: 0 16px;
    padding: 16px 8px;
    border-bottom: none;
  }
  .navigation__link {
    padding: 32px;
    color: #0C0910;
    font-size: 14px, 16em;
    font-weight: 700;
  }
  .navigation__link:hover {
    color: #A6A5AB;
  }
}
.form-primary__label {
  display: block;
  padding-bottom: 8px;
}
.form-primary__input {
  width: 70%;
  padding: 8px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 101.4px 1fr 2fr;
  grid-template-areas: "nav" "rs" "ls";
}

@media only screen and (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 101.4px auto;
    grid-template-areas: "nav nav" "ls rs";
  }
}
.left-section {
  grid-area: ls;
  display: flex;
}
.left-section section {
  display: flex;
  flex-direction: column;
}
.left-section__about {
  padding: 48px 80px;
  flex-grow: 1;
}
.left-section__about-title {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  line-height: 19.2px;
  text-align: center;
}
.left-section__about-content {
  padding-top: 50px;
  font-size: 20px;
  line-height: 27.2px;
  color: #646266;
}
.left-section__newsletter {
  background-color: #0C0910;
  color: #FFF;
  padding: 16px 80px;
  margin-left: 2px;
  box-sizing: border-box;
  position: relative;
  min-height: 172px;
}
.left-section__subscribe {
  position: absolute;
  top: 58px;
  right: -58px;
  transform: rotate(90deg);
  background-color: #FFF;
  color: #0C0910;
  width: 172px;
  text-align: center;
}
.left-section__img {
  height: 100%;
  background-color: #0C0910;
  background-size: cover;
  background-position: top center;
  display: block;
}

.right-section {
  grid-area: rs;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
